@model ClinicaVeterinaria.Models.Consulta

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center mb-5">Eliminar Consulta</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-5-strong" style="background-color: #f8d7da;">
                <div class="card-body p-5">
                    <h4 class="card-title text-center mb-4">¿Estás seguro de querer eliminar esta consulta?</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-3">Código de Consulta:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.CodigoConsulta)</dd>

                        <dt class="col-sm-3">Fecha de Consulta:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaConsulta)</dd>

                        <dt class="col-sm-3">Descripción de Consulta:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.DescripcionConsulta)</dd>

                        <dt class="col-sm-3">Fecha de Cita:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaCita)</dd>

                        <dt class="col-sm-3">Descripción de Cita:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.DescripcionCita)</dd>

                        <dt class="col-sm-3">Mascota:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Mascota.Nombre)</dd>

                        <dt class="col-sm-3">Veterinario:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Veterinario.Nombres)</dd>

                        <dt class="col-sm-3">Cliente:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Cliente.Nombres)</dd>
                    </dl>

                    <form asp-action="Delete" class="mt-3">
                        <input type="hidden" asp-for="Id" />

                        <div class="d-grid gap-2">
                            <input type="submit" value="Eliminar" class="btn btn-danger" style="width:150px" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>
