@model ClinicaVeterinaria.Models.Consulta

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mb-5">Detalles de la Consulta</h1>

<div class="container">
    <div class="card shadow-5-strong">
        <div class="card-header">
            Detalles de la Consulta
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.CodigoConsulta)</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(model => model.FechaConsulta)</h6>

            <dl class="row mt-3">
                <dt class="col-sm-3">Código de Consulta:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.CodigoConsulta)</dd>

                <dt class="col-sm-3">Fecha de Consulta:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaConsulta)</dd>

                <dt class="col-sm-3">Descripción de Consulta:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DescripcionConsulta)</dd>

                <dt class="col-sm-3">Fecha de Cita:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaCita)</dd>

                <dt class="col-sm-3">Descripción de Cita:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DescripcionCita)</dd>

                <dt class="col-sm-3">Mascota:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Mascota.Nombre)</dd>

                <dt class="col-sm-3">Veterinario:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Veterinario.Nombres)</dd>

                <dt class="col-sm-3">Cliente:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Cliente.Nombres)</dd>
            </dl>
        </div>
        <div class="card-footer text-muted">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
        </div>
    </div>
</div>
