@model IEnumerable<ClinicaVeterinaria.Models.Consulta>

@{
    ViewData["Title"] = "Consultas";
}

<h1>Listado de Consultas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CodigoConsulta)</th>
            <th>@Html.DisplayNameFor(model => model.FechaConsulta)</th>
            <th>@Html.DisplayNameFor(model => model.DescripcionConsulta)</th>
            <th>@Html.DisplayNameFor(model => model.FechaCita)</th>
            <th>@Html.DisplayNameFor(model => model.DescripcionCita)</th>
            <th>Mascota</th>
            <th>Veterinario</th>
            <th>Cliente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CodigoConsulta)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaConsulta)</td>
                <td>@Html.DisplayFor(modelItem => item.DescripcionConsulta)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaCita)</td>
                <td>@Html.DisplayFor(modelItem => item.DescripcionCita)</td>
                <td>@Html.DisplayFor(modelItem => item.Mascota.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Veterinario.Nombres)</td>
                <td>@Html.DisplayFor(modelItem => item.Cliente.Nombres)</td>
                <td>
                    <div class="btn-group" role="group">
                        <!-- Botón para Editar -->
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info" title="Editar">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <!-- Botón para Detalles -->
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary" title="Detalles">
                            <i class="bi bi-info-square"></i> Detalles
                        </a>
                        <!-- Botón para Eliminar -->
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Eliminar">
                            <i class="bi bi-trash"></i> Eliminar
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-icons/font/bootstrap-icons.js"></script>
}
