@model IEnumerable<ClinicaVeterinaria.Models.Mascota>

@{
    ViewData["Title"] = "Mascotas";
}

<div class="card shadow-sm">
    <div class="card-body">
        <h1 class="card-title" style="text-align:center;">Listado de Mascotas</h1>

        <form asp-action="Index" method="get" class="form-inline mb-3" style="padding-top: 15px;">
            <div class="form-group mr-3" style="margin-top: 10px;">
                <label for="searchTerm" class="fw-bold">Buscar:</label>
                <input type="text" name="searchTerm" class="form-control form-control-sm" style="width: 200px;" placeholder="Código o nombre" value="@ViewData["CurrentFilter"]">
            </div>
            <button type="submit" class="btn btn-primary btn-sm mr-3" style="margin-top: 10px;">Buscar</button>
            <a asp-action="Index" class="btn btn-secondary btn-sm" style="margin-top: 10px;">Limpiar</a>
        </form>

        <p>
            <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
        </p>
    </div>
</div>

<div class="card shadow-sm mt-3">
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="max-width: 150px; white-space: normal;">@Html.DisplayNameFor(model => model.CodigoMascota)</th>
                    <th scope="col" style="max-width: 150px; white-space: normal;">@Html.DisplayNameFor(model => model.Nombre)</th>
                    <th scope="col" style="max-width: 150px; white-space: normal;">@Html.DisplayNameFor(model => model.PesoActual)</th>
                    <th scope="col" style="max-width: 200px; white-space: normal;">@Html.DisplayNameFor(model => model.FechaNacimiento)</th>
                    <th scope="col" style="max-width: 150px; white-space: normal;">@Html.DisplayNameFor(model => model.Especie)</th>
                    <th scope="col" style="max-width: 150px; white-space: normal;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-primary">
                        <th scope="row" style="white-space: nowrap;">@Html.DisplayFor(modelItem => item.CodigoMascota)</th>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.PesoActual)</td>
                        <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                        <td>@Html.DisplayFor(modelItem => item.Especie.CodigoEspecie)</td>
                        <td>
                            <div class="btn-group" role="group">
                                <!-- Botón para Editar -->
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm mr-1" title="Editar">
                                    <i class="bi bi-pencil-square"></i> Editar
                                </a>
                                <!-- Botón para Detalles (Details) -->
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm mr-1" title="Detalles">
                                    <i class="bi bi-info-square"></i> Detalles
                                </a>
                                <!-- Botón para Eliminar -->
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" title="Eliminar">
                                    <i class="bi bi-trash"></i> Eliminar
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-icons/font/bootstrap-icons.js"></script>
}
