@model IEnumerable<ClinicaVeterinaria.Models.Veterinario>

@{
    ViewData["Title"] = "Listado de Veterinarios";
}

<!-- Card para el formulario de búsqueda -->
<div class="card shadow-sm">
    <div class="card-body">
        <h1 class="card-title text-center">Listado de Veterinarios</h1>

        <form asp-action="Search" asp-controller="Veterinarios" method="get" class="form-inline mb-3" style="padding-top: 15px;">
            <div class="form-group mr-3" style="margin-top: 10px;">
                <label for="searchTerm" class="fw-bold">Buscar:</label>
                <input type="text" name="searchTerm" class="form-control form-control-sm ml-2" style="width: 200px;" placeholder="Código Veterinario o Nombres" value="@ViewData["CurrentFilter"]" />
            </div>
            <button type="submit" class="btn btn-primary btn-sm mr-3" style="margin-top: 10px;">Buscar</button>
            <a asp-action="Index" class="btn btn-secondary btn-sm" style="margin-top: 10px;">Limpiar</a>
        </form>

        <p>
            <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
        </p>
    </div>
</div>

<!-- Card para la tabla de veterinarios -->
<div class="card shadow-sm mt-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" style="max-width: 150px; white-space: normal;">@Html.DisplayNameFor(model => model.FirstOrDefault().CodigoVeterinario)</th>
                        <th scope="col" style="max-width: 150px; white-space: normal;">@Html.DisplayNameFor(model => model.FirstOrDefault().Nombres)</th>
                        <th scope="col" style="max-width: 150px; white-space: normal;">@Html.DisplayNameFor(model => model.FirstOrDefault().Apellidos1)</th>
                        <th scope="col" style="max-width: 150px; white-space: normal;">@Html.DisplayNameFor(model => model.FirstOrDefault().Apellidos2)</th>
                        <th scope="col" style="max-width: 150px; white-space: normal;">@Html.DisplayNameFor(model => model.FirstOrDefault().Telefono)</th>
                        <th scope="col" style="max-width: 150px; white-space: normal;">@Html.DisplayNameFor(model => model.FirstOrDefault().Correo)</th>
                        <th scope="col" style="max-width: 150px; white-space: normal;">@Html.DisplayNameFor(model => model.FirstOrDefault().Direccion)</th>
                        <th scope="col" style="max-width: 150px; white-space: normal;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="table-primary">
                            <th scope="row" style="white-space: nowrap;">@Html.DisplayFor(modelItem => item.CodigoVeterinario)</th>
                            <td>@Html.DisplayFor(modelItem => item.Nombres)</td>
                            <td>@Html.DisplayFor(modelItem => item.Apellidos1)</td>
                            <td>@Html.DisplayFor(modelItem => item.Apellidos2)</td>
                            <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                            <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mr-1" title="Detalles">
                                        <i class="bi bi-info-square"></i> Detalles
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm mr-1" title="Editar">
                                        <i class="bi bi-pencil-square"></i> Editar
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" title="Eliminar">
                                        <i class="bi bi-trash"></i> Eliminar
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-icons/font/bootstrap-icons.js"></script>
}
