@model ClinicaVeterinaria.Models.DetalleConsulta

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center mb-5">Eliminar Detalle de Consulta</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-5-strong" style="background-color: #f8d7da;">
                <div class="card-body p-5">
                    <h4 class="card-title text-center mb-4">¿Estás seguro de querer eliminar este detalle de consulta?</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Aplicacion)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Aplicacion)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Cantidad)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Cantidad)</dd>

                        <dt class="col-sm-3">Consulta</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Consulta.CodigoConsulta)</dd>

                        <dt class="col-sm-3">Medicamento</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Medicamento.Descripcion)</dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
