@model IEnumerable<ClinicaVeterinaria.Models.DetalleConsulta>

@{
    ViewData["Title"] = "Detalle Consultas";
}

<h1>Listado de Detalle Consultas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Aplicación</th>
            <th>Cantidad</th>
            <th>Código Consulta</th>
            <th>Medicamento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Aplicacion)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.Consulta.CodigoConsulta)</td>
                <td>@Html.DisplayFor(modelItem => item.Medicamento.Descripcion)</td>
                <td>
                    <div class="btn-group" role="group">
                        <!-- Botón para Detalles -->
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary" title="Detalles">
                            <i class="bi bi-info-square"></i> Detalles
                        </a>
                        <!-- Botón para Editar -->
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Editar">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <!-- Botón para Eliminar -->
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Eliminar">
                            <i class="bi bi-trash"></i> Eliminar
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-icons/font/bootstrap-icons.js"></script>
}
