@model ClinicaVeterinaria.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center mb-5">Eliminar Cliente</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-5-strong" style="background-color: #f8d7da;">
                <div class="card-body p-5">
                    <h4 class="card-title text-center mb-4">¿Estás seguro de querer eliminar este cliente?</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-3">Nombres:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombres)</dd>

                        <dt class="col-sm-3">Primer Apellido:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Apellidos1)</dd>

                        <dt class="col-sm-3">Segundo Apellido:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Apellidos2)</dd>

                        <dt class="col-sm-3">Dirección:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Direccion)</dd>

                        <dt class="col-sm-3">Teléfono:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Telefono)</dd>

                        <dt class="col-sm-3">Correo Electrónico:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Correo)</dd>

                        <dt class="col-sm-3">Número de Identificación:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.N_Identificacion)</dd>

                        <dt class="col-sm-3">Código de Cliente:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.CodigoCliente)</dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />

                        <div class="d-grid gap-2">
                            <input type="submit" value="Eliminar" class="btn btn-danger btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>
